<section class="ttm-row testimonial-section style2 bg-layer ttm-bgcolor-skincolor break-1199-colum clearfix">
  <div class="container">
    <div class="row outer-box clearfix">
      <!--left Column-->
      <div class="col-md-5 col-lg-5 clearfix">
        <div class="ttm-bg ttm-left-span res-1199-plr-15 pr-30 pb-25 res-991-pb-0">
          <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
            <div class="ttm-bg-layer-inner"></div>
          </div>
          <div class="layer-content">
            <div class="carousel-outer pr-10">
              <div class="section-title clearfix mb-30">
                <h4>TESTIMONAL</h4>
                <h2 class="title ttm-textcolor-white">Clients feedback</h2>
              </div>
              <!-- wrap-testimonial -->
              <div class="testimonial-slide owl-carousel" data-item="1" data-nav="false" data-dots="false"
                   data-auto="false">
                <!-- testimonials -->
                <div class="testimonials">
                  <div class="testimonial-content mb-35">
                    <div class="testimonial-avatar">
                      <div class="testimonial-img">
                        <img class="img-center" src="assets/images/feedback1.jpg" alt="testimonial-img">
                      </div>
                    </div>
                    <div class="testimonial-caption">
                      <h6>Linda Jone</h6>
                      <label>Newyork City</label>
                    </div>
                    <blockquote>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloret
                      quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                      sit.
                    </blockquote>
                  </div>
                </div>
                <!-- testimonials end -->
                <!-- testimonials -->
                <div class="testimonials">
                  <div class="testimonial-content mb-35">
                    <div class="testimonial-avatar">
                      <div class="testimonial-img">
                        <img class="img-center" src="assets/images/feedback2.jpg" alt="testimonial-img">
                      </div>
                    </div>
                    <div class="testimonial-caption">
                      <h6>Tonny Edward</h6>
                      <label>Newyork City</label>
                    </div>
                    <blockquote>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloret
                      quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                      sit.
                    </blockquote>
                  </div>
                </div>
                <!-- testimonials end -->
                <!-- testimonials -->
                <div class="testimonials">
                  <div class="testimonial-content mb-35">
                    <div class="testimonial-avatar">
                      <div class="testimonial-img">
                        <img class="img-center" src="assets/images/feedback3.jpg" alt="testimonial-img">
                      </div>
                    </div>
                    <div class="testimonial-caption">
                      <h6>Teena Venanda</h6>
                      <label>Newyork City</label>
                    </div>
                    <blockquote>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloret
                      quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                      sit.
                    </blockquote>
                  </div>
                </div>
                <!-- testimonials end -->
              </div>
              <!-- wrap-testimonial end-->
            </div>
          </div>
        </div>
      </div>
      <!--left Column-end-->
      <!--right Column-->
      <div class="col-md-7 col-lg-7">
        <div class="timer-details padding-8 ttm-col-bgcolor-yes ttm-bg ttm-right-span ttm-bgcolor-white mb_90">
          <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
            <div class="ttm-bg-layer-inner"></div>
          </div>
          <div class="layer-content">
            <h2>Our Next Event</h2>
            <p class="timer-dark-tesc">With our passion, knowledge, creative flair and inspiration, we are dedicated
              in helping you to achieve your dream wedding.</p>
            <div class="timer-box-content ttm-col-wrapper-bg-layer pt-10">
              <div id="timer-box" class="timer-box m-0">
                <div class="line-bgimg2 timer-box-position">
                  <span class="days">6</span>
                  <div class="bottom-txt">Days</div>
                </div>
                <div class="line-bgimg2 timer-box-position ">
                  <span class="hours">7</span>
                  <div class="bottom-txt">Hours</div>
                </div>
                <div class="line-bgimg2 timer-box-position ">
                  <span class="minutes">20</span>
                  <div class="bottom-txt">Minutes</div>
                </div>
                <div class="line-bgimg2 timer-box-position">
                  <span class="seconds">1</span>
                  <div class="bottom-txt">Seconds</div>
                </div>
              </div>
            </div>
            <p class="pt-30">Our wedding planning and events coordination services are designed for Any Sized budget,
              meaning anyone. Our wedding planning and events coordination services are designed.</p>
            <div class="details-btn mt-15">
              <a
                class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-fill ttm-btn-color-skincolor ttm-icon-btn-right mt-20 mr-10"
                href="" title="">Make a Reservation
                <i class="ti-angle-right"></i>
              </a>
              <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-border ttm-btn-color-black mt-20"
                 href="" title="">Get A Quote!</a>
            </div>
          </div>
        </div>
      </div>
      <!--right Column-end-->
    </div>
  </div>
</section>
