<section class="ttm-row ttm-bgcolor-grey entry-content-section2 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <!--featured-box-->
            <div class="featured-box style3 text-center ttm-bgcolor-white box-shadow1 res-mb30-767">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor">
                  <i class="flaticon flaticon-marriage-couple"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Wedding</h5>
                </div>
                <div class="featured-desc">
                  <p>A wedding and Birthday planner is a who assists with the design, planning and management of a
                    client’s. wedding.</p>
                </div>
              </div>
            </div>
            <!-- featured-box end-->
          </div>
          <div class="col-md-6">
            <!--featured-box-->
            <div class="featured-box style3 text-center ttm-bgcolor-white box-shadow1">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor">
                  <i class="flaticon flaticon-dinner-table"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Private Party</h5>
                </div>
                <div class="featured-desc">
                  <p>A wedding and Birthday planner is a who assists with the design, planning and management of a
                    client’s. wedding.</p>
                </div>
              </div>
            </div>
            <!-- featured-box end-->
          </div>
        </div>
        <div class="row mt-30">
          <div class="col-md-6">
            <!--featured-box-->
            <div class="featured-box style3 text-center ttm-bgcolor-white box-shadow1 res-mb30-767">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor">
                  <i class="flaticon flaticon-cake"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Birthday Party</h5>
                </div>
                <div class="featured-desc">
                  <p>A wedding and Birthday planner is a who assists with the design, planning and management of a
                    client’s. wedding.</p>
                </div>
              </div>
            </div>
            <!-- featured-box end-->
          </div>
          <div class="col-md-6">
            <!--featured-box-->
            <div class="featured-box style3 text-center ttm-bgcolor-white box-shadow1 res-mb30-767">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor">
                  <i class="flaticon flaticon-man-in-a-party-dancing-with-people"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Corporate Party</h5>
                </div>
                <div class="featured-desc">
                  <p>A wedding and Birthday planner is a who assists with the design, planning and management of a
                    client’s. wedding.</p>
                </div>
              </div>
            </div>
            <!-- featured-box end-->
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <!-- col-bg-img-three -->
        <div class="col-bg-img-four ttm-col-bgimage-yes ttm-bg ttm-bgcolor-black ttm-col-bgcolor-yes padding-5">
          <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
            <div class="ttm-bg-layer-inner"></div>
          </div>
          <div class="layer-content">
            <div class="section-title clearfix mb-30">
              <h5 class="title">The Best Event<br> Planner</h5>
              <p>With our passion, knowledge, creative flair and inspiration, we are dedicated in helping you to
                achieve.</p>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <ul class="ttm-list ttm-list-style-icon ttm-textcolor-white">
                  <li><i class="fa fa-check-square-o"></i><span class="ttm-list-li-content">Wedding Cakes</span></li>
                  <li><i class="fa fa-check-square-o"></i><span class="ttm-list-li-content">Photo,Video</span></li>
                  <li><i class="fa fa-check-square-o"></i><span class="ttm-list-li-content">Venue Selections</span>
                  </li>
                  <li><i class="fa fa-check-square-o"></i><span
                    class="ttm-list-li-content">Managing Your Guest List</span></li>
                  <li><i class="fa fa-check-square-o"></i><span class="ttm-list-li-content">Unforgatable Time</span>
                  </li>
                  <li><i class="fa fa-check-square-o"></i><span class="ttm-list-li-content">Venue finding</span></li>
                </ul>
              </div>
            </div>
            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-border ttm-btn-color-white mt-15"
               href="#">View More</a>
          </div>
        </div>
        <!-- col-bg-img-three end-->
      </div>
    </div>
  </div>
</section>
