<section class="ttm-row ttm-bgcolor-grey entry-content-section2 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6" *ngFor="let single_featured_card of featured_cards" style="margin-bottom: 2%;">
            <!--featured-box-->
            <div class="featured-box style3 text-center ttm-bgcolor-white box-shadow1 res-mb30-767">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor">
                  <i class="flaticon" [class]="single_featured_card.img_url"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>{{single_featured_card?.heading}}</h5>
                </div>
                <div class="featured-desc">
                  <p>{{single_featured_card?.sub_heading}}</p>
                </div>
              </div>
            </div>
            <!-- featured-box end-->
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <!-- col-bg-img-three -->
        <div class="col-bg-img-four ttm-col-bgimage-yes ttm-bg ttm-bgcolor-black ttm-col-bgcolor-yes padding-5">
          <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
            <div class="ttm-bg-layer-inner"></div>
          </div>
          <div class="layer-content">
            <div class="section-title clearfix mb-30">
              <h5 class="title">{{right_featured_card?.heading}}</h5>
              <p>{{right_featured_card?.sub_heading}}</p>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <ul class="ttm-list ttm-list-style-icon ttm-textcolor-white">
                  <li *ngFor="let service of right_featured_card?.services"><i class="fa fa-check-square-o"></i><span
                    class="ttm-list-li-content">{{service}}</span></li>
                </ul>
              </div>
            </div>
            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-border ttm-btn-color-white mt-15"
               [routerLink]="right_featured_card?.url">View More</a>
          </div>
        </div>
        <!-- col-bg-img-three end-->
      </div>
    </div>
  </div>
</section>
