<header id="masthead" class="header ttm-header-style-classic-overlay">
  <div class="ttm-header-wrap">
    <!-- ttm-stickable-header-w -->
    <div id="ttm-stickable-header-w" class="ttm-stickable-header-w clearfix">
      <div id="site-header-menu" class="site-header-menu">
        <div class="site-header-menu-inner ttm-stickable-header">
          <div class="container">
            <!-- site-branding -->
            <div class="site-branding">
              <a class="home-link" href="index.html" title="Noretas Decor" rel="home">
                <img id="logo-img" class="img-center" src="assets/images/logo-img.png" alt="logo-img">
              </a>
            </div><!-- site-branding end -->
            <div id="site-navigation" class="site-navigation">
              <div class="ttm-menu-toggle">
                <input type="checkbox" id="menu-toggle-form"/>
                <label for="menu-toggle-form" class="ttm-menu-toggle-block">
                  <span class="toggle-block toggle-blocks-1"></span>
                  <span class="toggle-block toggle-blocks-2"></span>
                  <span class="toggle-block toggle-blocks-3"></span>
                </label>
              </div>
              <nav id="menu" class="menu">
                <ul class="dropdown">
                  <li *ngFor="let single_menu of nav_menus;let i=index" [class]="i==0?'active':''">
                    <a [routerLink]="single_menu.url">{{single_menu.name}}</a>
                    <ul *ngIf="single_menu.children.length>0">
                      <li *ngFor="let children of single_menu.children">
                        <a [routerLink]="children.url">{{children.name}}</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div><!-- site-navigation end-->
          </div>
        </div>

      </div>
    </div>
  </div>
  <app-banner *ngIf="is_home"></app-banner>
  <app-pages-header *ngIf="!is_home" [current_route]="current_route"></app-pages-header>
</header>
